h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

.header-logo-menu {
  width: 85%;
  margin: 0 auto;
  display: flex;
  height: 74px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}

/* .pc-only {
  display: none;
} */
.header-nav-list {
  display: flex;
  /* background-color: rgb(101, 103, 237); */

}

.header-nav-item {
  font-size: 16px;
}

.header-nav-item:nth-child(n+2) {
  margin-left: 55px;
}

.sp-only {
  display: none;
}


.mv-area {
  height: 740px;
  background: url(https://github.com/tunetune2424/PENGIN.LEVEL_1/blob/main/fv-bgi@2x.jpg?raw=true) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 60px;
  padding: 35px 42px;
  border: #fff solid 1px;
}

.section-area {
  width: 70%;
  margin: 0 auto;
  color: #141414;
  margin-top: 100px;
}

.about-section {
  margin-bottom: 150px;
}

.about-title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.about-copy {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-bottom: 41px;
}

.about-text {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2.14;
}

.service-section {
  margin-bottom: 150px;
}

.service-section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.service-section .first-group {
  margin-bottom: 50px;
  display: flex;
}

.service-section .outer {
  margin: auto 0;
  margin-left: 70px;
}

.service-section .first-group .copy {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-bottom: 41px;
}

.service-section .first-group .text {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2;
}

.service-section .second-group {
  display: flex;
  flex-direction: row-reverse;
}

.service-section .second-group .outer {
  margin: auto 0;
  margin-right: 70px;
}

.service-section .second-group .copy {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-bottom: 41px;
}

.service-section .second-group .text {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2;
}

.news-section {
  margin-bottom: 150px;
}

.news-section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.news-list {
  display: flex;
  justify-content: space-around;
}

.news-item {
  flex-basis: 34px;
  box-shadow: 0 0 6px #1b1310;

}

@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W6);
  font-weight: 700;
}

.news-item .img {
  vertical-align: bottom;
}

.news-item p {
  font-size: 13px;
  padding: 25px 33px;
  font-weight: 600;
  font-family: 'Hiragino Kaku Gothic ProN';
  letter-spacing: 0.05em;
  line-height: 2;
}

.form-section {
  width: 50%;
  margin: 0 auto;
}

.form-section .title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form-section .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

textarea {
  height: 171px;
}

.form-btn-wrapper {
  text-align: center;
  margin-top: 50px;
}

.form-btn {
  font-size: 20px;
  color: #fff;
  background-color: #1b1310;
  padding: 20px 97px;
  border-radius: 30px;
  font-weight: bold;
  width: 235px;
  box-shadow: 0 0 6px #1b1310;
}


.footer {
  background-color: #1B1310;
  width: 100%;
  height: 79px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #fff;
}




@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }

  .header-inner {
    width: 92%;
  }

  .header-nav-list {
    display: none;
  }

  .burger-menu-list {
    z-index: 10;
  }

  .burger-menu-item {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sp-only {
    display: flex;
  }
  .burger {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;

    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .burger span {
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .2s;
  }
  .burger span:nth-child(1) {
    transform: translate(-50%, -10px);
  }
  .burger span:nth-child(2) {
    transform: translate(-50%, -50%);
  }
  .burger span:nth-child(3) {
    transform: translate(-50%, 8px);
  }
  /* ハンバーガーメニューにis-activeがついたときの処理 */
  .burger.is-active span:nth-child(1) {
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .burger.is-active span:nth-child(2) {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .burger.is-active span:nth-child(3) {
    transform: translate(-50%,50%) rotate(-45deg);
  }
  
  
  .burger-menu {
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }
  .burger-menu.is-active {
    display: flex;
  }
  

  .mv-area {
    height: 590px;
    width: 100%;
  }

  .main-title {
    font-size: 30px;
    padding: 30px 40px;
  }

  .section-area {
    width: 92%;
  }

  .about-copy {
    margin-bottom: 30px;
  }

  .service-section .first-group {
    flex-direction: column;
  }

  .service-section .img {
    margin-top: 40px;
    /* margin-bottom: 50px; */
    order: 1;
  }

  .service-section .outer {
    margin-left: 0;
  }

  .service-section .first-group .copy {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .service-section .second-group {
    flex-direction: column;
  }

  .service-section .first-group .img {
    /* width: 92%; */

    object-fit: cover;
  }

  .service-section .second-group .outer {
    margin: auto 0;
    margin-right: 0;
  }

  .news-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .news-item {
    /* display: flex; */
    justify-content: center;
    width: 321px;
    margin: 0 auto;
    margin-bottom: 50px;
  }


  .form-section {
    width: 92%;
  }

  .footer {
    height: 60px;
  }
}
